.totalContainer{
    width: 542px; 
    margin: 0 auto; 
    padding: 20px;
}

.mainBanner{
    text-align: center;
    margin-bottom: 50px;
}
.joinTitle{
    text-align: center;
}
.container{
    width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 30px;
}

.topArea{
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    margin-bottom: 20px; 
}
.inputBox{
    width: 100%;
    height: 40px;
    background-color: transparent; 
    font-size: 14px;
    padding: 5px;
    padding-left: 20px;
}

.inputBox::placeholder{
    text-align: left;
}


.idBox{
    display: flex;
    align-items: center;
}

.idCheck{
    padding: 10px;
    font-size: 14px;
}
.idCheckBtn, .nickNameCheckBtn{
    width: 80px;
    height: 40px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.idCheckBtn:hover, .nickNameCheckBtn:hover {
    background-color: rgba(51, 51, 51, 0.9);
}
/* background-color: rgba(51, 51, 51, 0.9); */

.nickNameBox{
    display: flex;
    align-items: center;
}

.btnArea{
    padding-right: 10px;
}

.middleArea{
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.phoneFirstInputBox{
    width: 28%;
    height: 40px;
    background-color: transparent; 
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
}

.phoneFirstInputBox::placeholder{
    text-align: left;
    padding-left: 10px;
}
.phoneInputBox{
    width: 28%;
    height: 40px;
    background-color: transparent; 
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}

.emailInputBox{
    width: 20%;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
}

.emailInputBox::placeholder{
    text-align: left;
    padding-left: 10px;
}

.emailArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.domainSelect{
    width: 40%;
    height: 40px;
    margin-right: 50px;
}

.domainBox{
    width: 40%;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}

.genderArea {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 50px;
}

.maleBox, .femaleBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genderButton {
    margin-right: 87px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 245px; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.genderButton:hover {
    background-color: #333;
    color: #fff;
  }
  
.genderButton.active {
    background-color: #333;
    color: #fff;
  }

.genderType {
    display: none;
}

.profileArea{
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.profileTitle{
    padding-left: 10px;
    margin-bottom: 10px;
    color: gray;
}

.profileInputBox{
    width: 100%;
    height: 40px;
    background-color: transparent; 
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
}

.submitBtnArea{
    text-align: center;
}

.submitBtn{
    width: 500px;
    height: 40px;
    margin-right: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.submitBtn:hover{
    background-color: rgba(51, 51, 51, 0.9);
    cursor: pointer;
}